# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
master-one.192.168.66.2.xip.io        ansible_host=192.168.66.2      ip=192.168.66.2 etcd_member_name=etcd1
master-two.192.168.66.3.xip.io        ansible_host=192.168.66.3      ip=192.168.66.3 etcd_member_name=etcd2
master-three.192.168.66.4.xip.io      ansible_host=192.168.66.4      ip=192.168.66.4 etcd_member_name=etcd3
worker-one.192.168.66.5.xip.io        ansible_host=192.168.66.5      ip=192.168.66.5
worker-two.192.168.66.6.xip.io        ansible_host=192.168.66.6      ip=192.168.66.6
worker-three.192.168.66.7.xip.io      ansible_host=192.168.66.7      ip=192.168.66.7

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[all:vars]
yum_packages=['bash-completion','glusterfs-fuse','kubectl']

[kube-master]
master-one.192.168.66.2.xip.io
master-two.192.168.66.3.xip.io
master-three.192.168.66.4.xip.io


[etcd]
master-one.192.168.66.2.xip.io
master-two.192.168.66.3.xip.io
master-three.192.168.66.4.xip.io


[kube-node]
worker-one.192.168.66.5.xip.io
worker-two.192.168.66.6.xip.io
worker-three.192.168.66.7.xip.io

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr
