{
  "clusters": [
    {
      "nodes": [
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ workerone_k8s_hostname }}"
              ],
              "storage": [
                "{{ workerone_k8s_ip }}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ workertwo_k8s_hostname }}"
              ],
              "storage": [
                "{{ workertwo_k8s_ip }}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "{{ workerthree_k8s_hostname }}"
              ],
              "storage": [
                "{{ workerthree_k8s_ip }}"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/dev/sdb"
          ]
        }
      ]
    }
  ]
}
