# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
master01.k8s.labs.vass.es   ansible_host=x.x.x.31   ip=x.x.x.31 etcd_member_name=etcd1
master02.k8s.labs.vass.es   ansible_host=x.x.x.32   ip=x.x.x.32 etcd_member_name=etcd2
master03.k8s.labs.vass.es   ansible_host=x.x.x.33   ip=x.x.x.33 etcd_member_name=etcd3
worker01.k8s.labs.vass.es   ansible_host=x.x.x.34   ip=x.x.x.34
worker02.k8s.labs.vass.es   ansible_host=x.x.x.35   ip=x.x.x.35
worker03.k8s.labs.vass.es   ansible_host=x.x.x.36   ip=x.x.x.36

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[all:vars]
yum_packages=['bash-completion','glusterfs-fuse','kubectl']

[kube-master]
master01.k8s.labs.vass.es
master02.k8s.labs.vass.es
master03.k8s.labs.vass.es


[etcd]
master01.k8s.labs.vass.es
master02.k8s.labs.vass.es
master03.k8s.labs.vass.es


[kube-node]
worker01.k8s.labs.vass.es
worker02.k8s.labs.vass.es
worker03.k8s.labs.vass.es

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr

[ci-cd]
cicd.k8s.labs.vass.es
