# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
{{ masterone_k8s_hostname }}      ansible_host={{ masterone_k8s_ip }}      ip={{ masterone_k8s_ip }}       etcd_member_name=etcd1
{{ mastertwo_k8s_hostname }}      ansible_host={{ mastertwo_k8s_ip }}      ip={{ mastertwo_k8s_ip }}       etcd_member_name=etcd2
{{ masterthree_k8s_hostname }}    ansible_host={{ masterthree_k8s_ip }}    ip={{ masterthree_k8s_ip }}     etcd_member_name=etcd3
{{ workerone_k8s_hostname }}      ansible_host={{ workerone_k8s_ip }}      ip={{ workerone_k8s_ip }}
{{ workertwo_k8s_hostname }}      ansible_host={{ workertwo_k8s_ip}}       ip={{ workertwo_k8s_ip}}
{{ workerthree_k8s_hostname }}    ansible_host={{ workerthree_k8s_ip}}     ip={{ workerthree_k8s_ip}}
{{ workerfour_k8s_hostname }}     ansible_host={{ workerfour_k8s_ip }}     ip={{ workerfour_k8s_ip }}
{{ workerfive_k8s_hostname }}     ansible_host={{ workerfive_k8s_ip}}      ip={{ workerfive_k8s_ip}}
{{ workersix_k8s_hostname }}      ansible_host={{ workersix_k8s_ip}}       ip={{ workersix_k8s_ip}}



# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[all:vars]
yum_packages=['bash-completion','glusterfs-fuse','kubectl']
bastion={{ masterone_k8s_hostname }}
kube_proxy= {{ kube_proxy }}

[kube-master]
{{ masterone_k8s_hostname }}
{{ mastertwo_k8s_hostname }}
{{ masterthree_k8s_hostname }}


[etcd]
{{ masterone_k8s_hostname }}
{{ mastertwo_k8s_hostname }}
{{ masterthree_k8s_hostname }}


[kube-node]
{{ workerone_k8s_hostname }}
{{ workertwo_k8s_hostname }}
{{ workerthree_k8s_hostname }}
{{ workerfour_k8s_hostname }}
{{ workerfive_k8s_hostname }}
{{ workersix_k8s_hostname }}

[calico-rr]

[k8s-cluster:children]
kube-master
kube-node
calico-rr
